<odoo>
  <data>
    <!-- Menu Data -->
    <menuitem name="Audit" id="eaudit_audit" sequence="20" web_icon="eeaudit.static/description/icon_prodi.png"/>
    <menuitem name="Data Master" id="eaudit_masterprodi" sequence="20" parents="eaudit_aprodi"/>
    <menuitem name="A.Identitas Prodi" id="eaudit_dataprodi" sequence="30" parents="eaudit_aprodi"/>
</odoo>