<odoo>
  <data>
    <!-- Menu Data -->
    <menuitem name="Audit" id="spmi_audit" web_icon="espmi.static/description/icon_prodi.png"/>
    <menuitem name="Data Master" id="spmi_masterprodi" sequence="20" parents="spmi_aprodi"/>
    <menuitem name="A.Identitas Prodi" id="spmi_dataprodi" sequence="30" parents="spmi_aprodi"/>
</odoo>